@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Black.otf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Bold.otf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-ExtraBold.otf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Italic.otf');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Light.otf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Medium.otf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-SemiBold.otf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
