@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Black.woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Bold.woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-ExtraBold.woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Italic.woff');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Light.woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Medium.woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-Regular.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/assets/fonts/HKGrotesk-SemiBold.woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
